.dna-frontend-test-app {
  .users-list-table {
    overflow: auto;
    height: 100%;

    .ant-table-row {
      cursor: pointer;
    }

    .clickable-cell-container {
      padding: 0;

      .clickable-cell {
        padding: 16px;
      }
    }
  }
}
